@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans|Open+Sans+Condensed:300|Raleway:700');


html,
body {
    background: #fff;
    position: relative;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a,
li {
    text-decoration: none !important;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    list-style: none;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

span,
a,
a:hover {
    text-decoration: none;

}

button {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}

ul {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif !important;
    color: #0d1028;

}

p {
    font-family: 'Poppins', sans-serif !important;
    line-height: 28px;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 0;
    color: #526977;
}

.site_header {}

.top_header {
    padding: 0px 0;
    background-color: #121c45;
}

.top_header .container {
    max-width: 1170px;
}

.mt_topbar_left {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.list_top_header {
    margin-left: 0;
    margin-bottom: 0;
    padding: 7px 0px;
}

.list_top_header li {
    display: inline-block;
    font-size: 12px;
    padding-right: 15px;
    font-weight: 500;
}

.list_top_header li i {
    vertical-align: middle;
    background-color: #e53935;
    border: 1px solid #e53935;
    padding: 3px;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    margin-right: 5px;
    font-size: 13px;
    color: #fff;
}

.list_top_header li a {
    color: #fff;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif !important;
}

.mt_topbar_right {
    float: right;
}

.appon_btn {
    background: #e53935;
    font-size: 13px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    line-height: 1.42857;
    margin-left: -1px;
    text-decoration: none !important;
}

.appon_btn a {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.main_header {
    position: relative;
    width: 100%;
    padding: 18px 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #fff;
}

.main_header .container {

    max-width: 1170px;
}

.logo_sec {}

.logo_sec img {
    max-width: 100%;
}

.main_header_menu {}

.main_header_menu ul {
    margin-bottom: 0px;
    float: right;
    margin-top: 10px;
}

.main_header_menu ul li {
    display: inline-block;
}

.main_header_menu ul li a {
    font-family: 'Poppins', sans-serif !important;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 15px;
    letter-spacing: 0.4px;
}

.hero_slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.slider_img {
    width: 100%;
    position: relative;
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.slider_img::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 10, 35, 0.8);
    display: flex;
    right: 0;
    margin: 0 auto;
}

.slider_content {
    position: relative;
    z-index: 4;
    padding-left: 176px;
    top: 37%;
}

.slider_content h3 {
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 45px;
    line-height: 54px;
    font-weight: 600;
    margin-bottom: 20px;
    max-width: 673px;
    font-family: 'Poppins', sans-serif !important;
}

.slider_content p {
    color: #ffff;
    max-width: 600px;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.slider_content a {
    padding: 10px 20px;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    background: #e53935;
    color: #fff;
    position: relative;
    font-weight: 600;
    border-radius: 22px;
}

.owl-dots {
    display: none;
}

.social_icon_link {
    position: relative;
    z-index: 4;
    float: right;
    padding-right: 90px;
}

.social_icon_link ul {

    margin-left: 0;
}

.social_icon_link ul li {
    line-height: 37px;
}

.social_icon_link ul li a {
    color: #fff;
    font-size: 19px;
}

.about_company {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    background-image: url(../img/hp-accordion-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about_company_bg {
    position: relative;
}

.about_company_bg img {
    width: 375px;
    height: auto;
    position: relative;
    -moz-box-shadow: 0px 13px 20px -8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 13px 20px -8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 13px 20px -8px rgba(0, 0, 0, 0.4);
}

.about_company_bg::before {
    content: '';
    position: absolute;
    width: 340px;
    height: 400px;
    background: #e53935;
    left: -54px;
    bottom: -54px;
}

.about_content_wrap {}

.about_yers_sec {
    padding: 20px;
    position: relative;
}

.about_yers_sec::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 80%;
    background: #e53935;
    left: -10px;
}

.years_number {
    font-size: 60px;
    display: inline-block;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 800;
    color: #e53935;
}

.years_content_large {
    display: block;
    margin-top: -18px;
    font-size: 21px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
}

.about_bottom_content {
    margin-top: 10px;
}

.about_bottom_content h4 {
    font-size: 30px;
    margin-bottom: 26px;
    letter-spacing: 0.6px;
    line-height: 37px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif !important;
}

.about_bottom_content p {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
    line-height: 28px;
}

.more__about_btn {
    padding: 10px 25px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    background: #e53935;
    color: #fff;
    position: relative;
    font-weight: 400;
    border-radius: 22px;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0px 5px 30px rgba(162, 162, 162, 1);
}

.service_sec {

    position: relative;

    width: 100%;

    padding-bottom: 50px;

    padding-top: 50px;

    height: auto;

    overflow: hidden;
}

.service_sec .container {}

.text_overlay {
    color: #f4f4f4;
    font-size: 49px;
    font-weight: 700;
    line-height: 64px;
    opacity: 0.7;
    text-align: center;
    margin-bottom: -25px;
    z-index: 1;
}

.servicee_title {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    position: relative;
    z-index: 5;
    padding-bottom: 10px;
}

.servicee_title::before {
    content: ' ';
    background: #e53935;
    box-shadow: 0px 4px 8px 0px rgba(229, 57, 53, 0.59);
    width: 44px;
    height: 4px;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.service_desc {
    text-align: center;
    font-size: 14px;
    width: 700px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.service_box_wrap {
    text-align: center;
}

.service_icon {}

.service_icon i {
    color: #06163a;
}

.service_icon i::before {
    font-size: 50px;
}

.service_box_content {}

.service_box_content h4 {
    font-size: 18px;
    margin-bottom: 13px;
    position: relative;
}

.service_box_content p {
    font-size: 14px;
    line-height: 26px;
}

.show_btn {
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.show_btn a {
    padding: 10px 45px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    background: #e53935;
    color: #fff;
    position: relative;
    font-weight: 400;
    border-radius: 22px;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0px 5px 30px rgba(162, 162, 162, 1);
}

.show_btn a span {
    font-size: 13px;
    margin-left: 10px;
}

.extra_sec {
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    background-size: cover;
}

.extra_sec::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    background: #e53935;
    top: 0;
    opacity: 0.9;
}

.extra_sec_title {
    position: relative;
    z-index: 4;
}

.extra_sec_title h5 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.4px;
}

.extra_sec_title h3 {
    font-size: 52px;
    font-weight: 800;
    color: #fff;
    margin-top: 5px;
    letter-spacing: 1px;
}

.extra_sec_title p {
    position: relative;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}

.offer_sec {
    width: 100%;
    position: relative;
    padding-top: 20px;
}

.offer_sec img {
    max-width: 100%;
}

.how_work {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.how_work .container {
    max-width: 1170px;
}

.how_desc {
    text-align: center;
    font-size: 14px;
    width: 700px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.how_work_box {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
}

.how_work_bg {
    height: 75px;
    position: relative;
    width: 100%;
}

.how_work_bg img {
    width: 102px;
}

.how_work_box_titlte h5 {
    font-size: 18px;
    margin-bottom: 13px;
    position: relative;
    padding-top: 20px;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.how_work_box_titlte p {
    font-size: 14px;
    margin-top: 15px;
}

.goodness {

    position: relative;

    background: #f1fbff;

    padding-top: 40px;
}

.goodness .container {}

.goodness_bg {
    margin-top: 10px;
    padding-right: 59px;
}

.goodness_bg img {
    max-width: 100%;
}

.goodness_box {
    margin-bottom: 40px;
}

.goodness_icon {
    height: 81px;
    width: 81px;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(6, 22, 58, 0.11);
    background: transparent;
    position: relative;
    z-index: 10;
    margin-top: 25px;
    border-radius: 0;
    box-shadow: none;
}

.goodness_icon::before {
    height: 81px;
    width: 81px;
    position: absolute;
    content: '';
    border-style: solid;
    border-width: 4px;
    border-color: rgba(6, 22, 58, 0.11);
    background: transparent;
    z-index: -1;
    left: -20px;
    top: -20px;
}

.goodness_icon i {
    height: 100%;
    font-size: 40px;
    color: #06163a;
    width: 100%;
    position: absolute;
    left: 0;
    line-height: 80px;
    background: #f1fbff;
}

.goodness_icon i::before {
    font-size: 40px;
    color: #06163a;
}

.goodness_content {
    padding-left: 36px;
}

.goodness_content span {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif !important;
}

.goodness_content p {
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 0.4px;
}

.testimonial {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
}

.testimonial_home .owl-nav {}

.bg_wave {
    background-image: url(../img/bg-wave.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.testimonial_box {
    box-shadow: 0px 8px 37px 0px rgba(0, 0, 0, 0.14);
    padding: 40px 24px;
    width: 100%;
}

.client_pic {
    width: 100px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}

.client_pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonial .container {
    max-width: 1170px;
}

.testimonial_home .item {
    padding: 30px;
}

.client_inner_content {}

.client_inner_content p {
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 300;
    margin-bottom: 15px;
}

.client_footer {}

.client_footer span {
    font-size: 15px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.top__foot {
    background-image: url(../img/bg_6.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.top__foot::after {
    content: '';
    position: absolute;
    background: #e53935;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 1;
}

.news__letter_content {
    position: relative;
    z-index: 4;
}

.news__letter_content h6 {
    font-size: 27px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.8;
}

.news__letter_content p {
    color: #fff;
    font-size: 14px;
}

.form__control_news {}

.newsletter__btn_sumbit {
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;
    position: relative;
    background: #232636;
    z-index: 4;
    vertical-align: middle;
    border: 1px solid transparent;
    height: 50px;
    margin-left: 10px;
    width: 27%;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif !important;
}

.newsletter__btn_sumbit:focus {
    color: #fff !important;
}

.news_for input {
    z-index: 4;
    position: relative;
    border-radius: 0px;
    height: 49px;
    padding: 0px 25px;
    background: none;
    color: #fff !important;
    border: 1px solid #fff;
    width: 68%;
    font-size: 14px;
    letter-spacing: 0.8px;
}

.news_for input::placeholder {
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
}

.footer {
    background: #232636;
    position: relative;
    width: 100%;
    padding-top: 50px;
}

.footer_wrap {
    position: relative;
    z-index: 4;
}

.footer_wrap_text {}

.footer_wrap_text h6 {
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
}

.footer_wrap_text p {
    font-size: 14px;
    color: #5a6277;
    font-weight: 300;
    width: 246px;
    line-height: 28px;
}

.footer_wrap {}

.footer_link {
    margin-bottom: 25px;
}

.footer_link h6 {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.footer_wrap ul {
    margin-left: 0px;
}

.footer_wrap ul li {
    line-height: 32px;
}

.footer_wrap ul li a {
    font-size: 14px;
    color: #5a6277;
    font-weight: 300;
    font-family: 'Poppins', sans-serif !important;
    line-height: 29px;
}

.foot_right_link {}

.foot_right_text {
    margin-bottom: 25px;
}

.foot_right_text h6 {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.text_link_wrap {
    margin-bottom: 14px;
}

.text_link_wrap i {
    color: #5a6277;
    font-size: 17px;
    position: relative;
    display: inline-block;
}

.text_link_wrap a {
    font-size: 14px;
    color: #5a6277;
    font-weight: 300;
    font-family: 'Poppins', sans-serif !important;
    padding-left: 10px;
}

.footer_bootom {
    border-top: 1px solid #47494a;
    padding-top: 25px;
    padding-bottom: 27px;
}

.foot_bootom_left_text {}

.foot_bootom_left_text p {
    font-size: 14px;
    color: #5a6277;
    margin-bottom: 0px;
}


.foot_bottom_social ul {
    margin-bottom: 0px;
    float: right;
    position: relative;
}

.foot_bottom_social ul li {
    display: inline-block;
    margin-right: 13px;
}

.foot_bottom_social ul li a i {
    color: #5a6277;
    font-size: 16px;
}

.fixed_header {
    position: fixed;
    animation: smoothScroll 1s forwards;
    left: 0;
    top: 0;
    z-index: 999 !important;
    box-shadow: 0px 6px 10px 0px rgba(255, 53, 20, 0.2);
}

.main_header {
    webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

.breadcumb {
    background-image: url(../img/about-1-title-bg\ \(1\).jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 250px;
}

.breadcumb_title {}

.breadcumb_title h1 {
    color: #fff;
    position: relative;
    z-index: 4;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.breadcrumb_style_2 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 9px;
}

.breadcrumb_style_2 li {
    display: inline-block;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
}

.breadcrumb_style_2 li a {
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
}

#breadcumb_sperator_icon {
    color: #fff;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.counter_sec {
    background-image: url(../img/counter.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 232px;
    position: relative;
    padding-top: 57px;
    margin-top: 45px;
}

.counter_sec_box {
    text-align: center;
}

.counet_icon {
    color: #fff;
}

.counet_icon i {}

.counet_icon i::before {
    font-size: 38px;
}

.counter_content {
    text-align: center;
}

.counter_content span {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 1px;
}

.counter_content p {
    text-align: center;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#none_bg {
    background-image: none;
}

.mision_vision {
    position: relative;
    width: 100%;
    background: #f4f4f4;
    padding-bottom: 50px;
}

.mision_box {
    margin-top: 43px;
    background: #fff;
    box-shadow: 0px 1px 0px 0px rgba(36, 38, 47, 0.10), 0px 4px 6px 0px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    height: 353px;
    padding: 60px 50px;
}

.mision_box h3 {
    font-size: 18px;
    font-weight: 400;
    color: #e53935;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.mision_box p {
    font-size: 14px;
    color: #676767;
    letter-spacing: 0px;
    line-height: 29px;
    font-weight: 400;
}

.track_order {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.track_order_img {
    width: 100%;
    padding-top: 18px;
}

.track_order_img img {
    max-width: 100%;
}

.track_order_wrap {
    padding-top: 57px;
}

.input_group {
    margin-bottom: 30px;
}

.input_group input {
    border-width: 0 0 1px 0;
    border-style: solid;
    font-size: 14px;
    background: transparent;
    border-color: #d0d0d0;
    padding: 10px 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
}

.chek_order_btn {
    padding: 10px 35px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    background: #e53935;
    color: #fff;
    position: relative;
    font-weight: 400;
    border-radius: 22px;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0px 5px 30px rgba(162, 162, 162, 1);
    border: none;
    outline: none !important;
    margin-top: 20px;
}

#track_icon {
    font-size: 12px;
    margin-left: 10px;
}

.contact_map {
    position: relative;
    padding-top: 50px;
}

.contact_info_sec1 {
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
}

.contact_info_sec1 .container {
    max-width: 1170px;
}
.contact_info_sec1_box {
    text-align: center;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    height: 266px;
    margin-top: 20px;
}

.contat_info_icon img {
    width: 45px;
}

.contat_info_icon {
    margin-bottom: 10px;
    color: #e53935;
}

.icon_content h4 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

.icon_content h5 {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #203334;
    font-family: 'Poppins', sans-serif !important;
}

.icon_content h5 a {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #203334;
    font-family: 'Poppins', sans-serif !important;
}

.text_shadow {

    -webkit-box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .16);
    box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .16);
}

.contat_info_icon i::before {
    font-size: 47px;
}
.contact_form_sec {
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 20px;
}

.contact_one {

    position: relative;
}
.form_group_crt {
    position: relative;
    margin-bottom: 0px;
    margin-top: 26px;
}

.form_group_crt input {
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    border-bottom: 2px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    height: 40px;
    font-size: 13px;
    line-height: 20px;
    padding: 9px 12px 9px 10px;
    display: block;
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    outline: none !important;
    color: #000;
}

.form_group_crt textarea {
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    border-bottom: 2px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    height: 100px;
    font-size: 13px;
    line-height: 20px;
    padding: 9px 12px 9px 10px;
    display: block;
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    outline: none !important;
    color: #000;
}

.spin {
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.contact_one .spin {
    transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1)
}

.form_group_crt:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.site_button{
    padding: 10px 35px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    background: #e53935;
    color: #fff;
    position: relative;
    font-weight: 400;
    border-radius: 22px;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0px 5px 30px rgba(162, 162, 162, 1);
    border: none;
    outline: none !important;
    margin-top: 20px;
 
}
.contact_btn_submit{
    text-align: center;
    padding-top: 30px;
}
.testimonial_more_sec{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    width:100%;
    height: auto;
}
.inner_testimonial_adjust{
    margin-bottom: 40px;
}
.hover_btn_effect{
    position: relative;
    transition: 0.5s ease;
}
.hover_btn_effect:hover{
    background-color: #06163a;
    color: #fff;
    transform: translateY(-4px);
}
.make_btn_effect{
    position: relative;
    transition: 0.5s ease;
}
.make_btn_effect:hover{
    color: #fff;
}
.testimonial_home .owl-nav{
    display: none;
}
.mobile_menu{
    display: none;
}