	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/11/2019 11:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-box-truck:before { content: "\f100"; }
.flaticon-stock:before { content: "\f101"; }
.flaticon-data-warehouse:before { content: "\f102"; }
.flaticon-warehouse:before { content: "\f103"; }
.flaticon-delivery-truck:before { content: "\f104"; }
.flaticon-truck:before { content: "\f105"; }
.flaticon-crane:before { content: "\f106"; }
.flaticon-box:before { content: "\f107"; }
.flaticon-package-for-delivery:before { content: "\f108"; }
.flaticon-security:before { content: "\f109"; }
.flaticon-shield:before { content: "\f10a"; }
.flaticon-shield-1:before { content: "\f10b"; }
.flaticon-tree-with-many-leaves:before { content: "\f10c"; }
.flaticon-tree:before { content: "\f10d"; }
.flaticon-world:before { content: "\f10e"; }
.flaticon-umbrella:before { content: "\f10f"; }
.flaticon-man:before { content: "\f110"; }
.flaticon-user:before { content: "\f111"; }
.flaticon-hand:before { content: "\f112"; }
.flaticon-world-1:before { content: "\f113"; }
.flaticon-donation:before { content: "\f114"; }
.flaticon-smartphone:before { content: "\f115"; }
.flaticon-email:before { content: "\f116"; }
.flaticon-placeholder:before { content: "\f117"; }