@media (max-width: 768px) {
    .site_header {
        display: none;
    }

    .slider_img {
        height: 350px;
    }

    .slider_content {
        position: relative;
        z-index: 4;
        top: 10%;
        padding-right: 0px;
        padding-left: 40px;
    }

    .slider_content h3 {
        letter-spacing: 1px;
        font-size: 23px;
        line-height: 29px;
        margin-bottom: 20px;
        width: 82%;
    }

    .slider_content p {
        width: 100%;
        margin-bottom: 40px;
        font-size: 14px;
        letter-spacing: 0.4px;
        padding-right: 34px;
        line-height: 27px;
    }

    .social_icon_link {
        display: none;
    }

    .about_company_bg::before {
        display: none;
    }

    .about_company {
        overflow: hidden;
    }

    .about_yers_sec {
        padding: 20px;
        position: relative;
        padding-left: 25px;
    }

    .about_yers_sec::before {

        background: #e53935;
        left: 0px;
    }

    .about_bottom_content h4 {
        font-size: 25px;
        letter-spacing: 0.2px;
        line-height: 32px;
        width: 100%;
    }

    .about_company_bg img {
        width: 100%;

    }

    .service_desc {
        width: 100%;
        overflow: hidden;
    }

    .how_desc {
        width: 100%;
        margin: auto;
        overflow: hidden;
        margin-top: 30px;
    }

    .extra_sec_title h5 {
        font-size: 17px;

    }

    .extra_sec_title h3 {
        font-size: 36px;

    }

    .how_work_box {

        margin-top: 30px;
    }

    .goodness_bg {
        margin-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
    }

    .goodness_box {
        margin-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        position: relative;
    }

    .testimonial_box .media {
        display: inline;
    }

    .client_pic {
        margin: 0 auto 25px;
    }

    .news_for input {
        width: 100%;
        margin-bottom: 20px;
    }

    .newsletter__btn_sumbit {
        font-weight: 500;
        margin-left: 0;
        width: 100%;

    }

    .news__letter_content h6 {
        font-size: 23px;
        font-weight: 600;
        text-align: center;
    }

    .news__letter_content p {
        color: #fff;
        font-size: 14px;
        text-align: center;
    }

    .footer_wrap_text p {
        width: 100%;

    }

    .foot_bootom_left_text p {
        text-align: center;
    }

    .foot_bottom_social ul {
        margin-bottom: 0px;
        float: none;
        position: relative;
        text-align: center;
        margin-top: 10px;
    }

    .breadcumb {

        height: 150px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .breadcrumb_style_2 {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 0px;
        text-align: center;
    }

    .breadcumb_title {
        text-align: center;
    }

    .counter_sec {
        height: auto;
        padding-top: 35px;
        margin-top: 45px;
        padding-bottom: 30px;
    }

    .mision_box h3 {

        text-align: center;
    }

    .mision_box {
        padding: 50px 35px;
        height: auto;
    }

    .mision_box p {
        font-size: 14px;
        color: #676767;
        letter-spacing: 0px;
        line-height: 29px;
        font-weight: 400;
        text-align: center;
        width: 100%;
    }

    .client_inner_content p {
        text-align: center;
    }

    .client_footer span {
        text-align: center;
        display: block;
    }

    .text_center {
        text-align: center;
        display: block;
    }

    /***********************************mobile menu***************************************/
    .mobile_menu {
        width: 100%;
        height: 95px;
        background: #fff;
        box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 999 !important;
    }

    .mobile_menu_logo {
        width: 40%;
        padding-left: 40px;
        padding-top: 16px;
    }

    .mobile_menu_logo a img {
        width: 126px;

    }

    .mobo_button {
        position: absolute;
        right: 14px;
        top: 25px;
        background: #e53935;
        width: 40px;
        height: 40px;
        display: block;
    }

    .mobo_button span {
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        left: 0;
    }

    .mobo_button span:nth-child(1) {
        background: #fff;
        display: block;
        width: 25px;
        height: 2px;
        margin-top: 12px;
        margin-left: 8px;
    }

    .mobo_button span:nth-child(2) {
        background: #fff;
        display: block;
        width: 25px;
        height: 2px;
        margin-top: 5.3px;
        margin-left: 8px;
    }

    .mobo_button span:nth-child(3) {
        background: #fff;
        display: block;
        width: 25px;
        height: 2px;
        margin-top: 5px;
        margin-left: 8px;

    }

    .mobo_button.open span:nth-child(1) {
        transform: rotate(135deg);
        position: relative;
        top: 6px;
    }

    .mobo_button.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
        position: relative;
    }

    .mobo_button.open span:nth-child(3) {
        transform: rotate(-135deg);
        position: relative;
        top: -8px;
    }

    .mobo__menu_link {
        background: #ffff;
        display: none;
        box-shadow: 0px 17px 23px 9px rgba(255, 53, 20, 0.18);
        width: 100%;
        margin: auto;
        margin-top: 34px;
    }

    .mobo__menu_link ul {
        margin-bottom: 0;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .mobo__menu_link ul li {
        list-style: none;
        padding: 0px
30px 0px 27px;
    }

    .mobo__menu_link ul li a {
        border-bottom: 1px solid #eaeaea;
        padding: 1em 7%;
        display: block;
        width: 100%;
        font-size: 14px;
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif !important;
    }

    .mobo_button.open .mobo__menu_link {
        display: block;
    }

    .mobile_menu {
        display: block !important;
    }

    .fixed_mobo_header {
        position: fixed;
        background-color: #fff;
        top: 0;
        animation: smoothScroll 1s forwards;
        left: 0;
        z-index: 999 !important;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.36);
    }

    .mobile_menu {
        -webkit-transition: all 0.5s ease;
        -moz-transition: position 10s;
        -ms-transition: position 10s;
        -o-transition: position 10s;
        transition: all 0.5s ease;
    }

    @keyframes smoothScroll {
        0% {
            transform: translateY(-40px);
        }

        100% {
            transform: translateY(0px);
        }
    }

}